#headerLink{
}
#btnBox{
    margin: 9.5% 0;
}
#loginBtn {
    display: block;
    position: relative;
    width: 160px;
    padding: 0.8em;
    text-align: center;
    text-decoration: none;
    color: #1B1B1B;
    background: #fff;
    border-radius: 30px;
    border:1px solid #1B1B1B;
    filter: drop-shadow(1.5px 1.5px 1.5px rgba(0,0,0,0.6));
}
#loginBtn:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: black;
    color: #fff;
    border:1px solid #f6f6f6;
    -webkit-animation: simple_square_btn3 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -moz-animation: simple_square_btn3 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: simple_square_btn3 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
#content1,#content2{
    height: 70vh;
}
#content1Img{
    width: 100%;
    background-image: url("../../../public/img/indexContent1BgImg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#content2Img{
    width: 100%;
    background-image: url("../../../public/img/indexContent2BgImg.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#headerBg{
    width: 100%;
    background-image: url("../../../public/img/indexHeaderBgimg.jpg");
    background-color:rgba(255,255,255,0.5);
    background-blend-mode:lighten;
    padding: 1%;
    margin-bottom: 5%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}