@import url(https://fonts.googleapis.com/css?family=Open+Sans);
fieldset {
    border: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

h1 {
    margin: 0;
    line-height: 1.2;
}

p {
    margin: 0 0 1.6rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #ddd;
}

.characterList {
    height: 80vh;
}

.character {
    background: url(../../img/a.png) no-repeat top center #C0C0C0;
    background-size: 600%;
}